
@mixin scroll-bar($w:4px,$m1:0px,$m2:0px){
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	scroll-behavior: smooth;
	 &::-webkit-scrollbar {
		width: $w;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 3px rgba(0, 0, 0, .9);
		margin: $m1 0 $m2;
		background: #333;
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #606063;
		border-radius: 10px;
		&:hover {
		  background: #79797B;
		}
	}
}

@mixin scroll-bar2($w:4px,$d:0px){
	@include scroll-bar($w,$d);
	 &::-webkit-scrollbar {
		background: transparent;
	}
}

@mixin scroll-bar-v($h:4px){
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	scroll-behavior: smooth;
	 &::-webkit-scrollbar {
		height: $h;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 3px rgba(0, 0, 0, .9);
		background: #333;
		border-radius: $h;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #606063;
		border-radius: $h;
		&:hover {
		  background: #79797B;
		}
	}
}
