// @import 'mixin/mixin';
// html, body {
//   height: 100%;
//   margin: 0;
//   padding: 0;
//   font-family: 'Open Sans', sans-serif;
//   font-weight: 400;
//   background-color: #0d1117;
//   color: #ccc;
//   -webkit-text-size-adjust: 100%;
//   -ms-text-size-adjust: 100%;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
//   box-sizing: border-box;
//   -ms-overflow-style: none; // IE
//   scrollbar-width: none;    // Firefox
//
//   &::-webkit-scrollbar,
//   &::-webkit-scrollbar-track,
//   &::-webkit-scrollbar-thumb {
//     display: none;
//   }
// }
